@import url("general.css");
@import url("nav.css");

nav ul li.about::before {
  content: '\25b6';
  color: #ffd700;
  position: relative;
  left: 20px;
  top: -2px;
}

nav ul li.about a {
  width: 60%;
}

section.main {
  position: absolute;
  top: 75px;
  width: 99%;
}

section.main h1 {
	text-align: center;
}

section.main aside {
  margin: auto;
  max-width: 800px;
  padding-bottom: 5em;
}
