@import url(general.css);

nav ul li.about::before {
  content: '\25b6';
  color: #ffd700;
  position: relative;
  left: 20px;
  top: -2px;
}

section.main {
  position: absolute;
  top: 75px;
}

section.main h1 {
	text-align: center;
}

section.main aside {
  padding: 1em;
}
