@import url("general.css");
@import url("blog-summary.css");

body {
  margin: 5em;
  /* No long nav, so we don't need to enforce min-width or min-height anymore */
  min-width: 0;
  min-height: 0;
}

header {
  text-align: center;
}

.blogpost {
  max-width: 900px;
  margin: auto;
}

.blogpost h2 {
  padding-top: 0.5em;
  margin-bottom: -0.3em;
}

.blogpost h3 {
  padding-top: 0.5em;
  margin-bottom: -0.3em;
  font-style: italic;
}

.related .related-header {
  padding-top: 0.5em;
  margin-bottom: -0.3em;
}

nav {
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all .7s ease-in;
}

nav.toc-shown {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: all .7s ease-in;
  background-color: rgba(64,64,64,0.99);
}

nav a.home {
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: url(../images/home.png) no-repeat 0 0;
  top: 10px;
  left: 10px;
}

nav a.expand-toc {
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: url(../images/menu.png) no-repeat 0 0;
  top: 50px;
  left: 10px;
}

nav div.toc {
  display: none;
}

nav.toc-shown div.toc {
  position: absolute;
  display: block;
  top: 80px;
  left: 10px;
}

nav div.toc .ui-accordion-header {
  padding-left: 1em;
  padding-right: 6em;
}
