@import url("general.css");
@import url("blog-summary.css");

body {
  margin: 5em;
  /* No long nav, so we don't need to enforce min-width or min-height anymore */
  min-width: 0;
  min-height: 0;
}

header {
  text-align: center;
}

.blogpost {
  max-width: 900px;
  margin: auto;
}

.blogpost h2 {
  padding-top: 0.5em;
  margin-bottom: -0.3em;
}

.blogpost h3 {
  padding-top: 0.5em;
  margin-bottom: -0.3em;
  font-style: italic;
}

.related .related-header {
  padding-top: 0.5em;
  margin-bottom: -0.3em;
}

nav {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
}

nav a.home {
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: url(../images/home.png) no-repeat 0 0;
  top: 10px;
  left: 10px;
}

