@import url("general.css");
@import url("nav.css");
@import url("blog-summary.css");

nav ul li.blog::before {
  content: '\25b6';
  color: #ffd700;
  position: relative;
  left: 20px;
  top: -2px;
}

nav ul li.blog a {
  width: 60%;
}

section.main {
  position: absolute;
  top: 75px;
}

section.main > h1 {
  text-align: center;
}

section.main aside.intro {
  padding: 1em 2em 0 2em;
}

section.main aside.intro h2 {
  padding-top: 0.5em;
  margin-bottom: -0.3em;
}

section.main div.posts {
  padding: 0 1em 0 1em;
}

