@import url("general.css");

body {
  margin: 3em;
}

header {
  text-align: center;
}

nav {
  top: 0;
  left: 0;
  padding: 10px 0 10px 0;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

nav a.home {
  padding-left: 5px;
  font-size: 2em;
}

