@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Passion+One|Merriweather|Raleway:700');

body {
  font-size: 16px;
  min-height: 430px;
}

p, ul, ol, h1, h2, h3, h4, h5, h6, li {
  margin-left: 16px;
  margin-right: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 2.8em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.8em;
}

p, ul, ol {
  font-family: 'Merriweather', serif;
  line-height: 1.7em;
  margin-bottom: 2.2em;
}

blockquote {
  font-family: 'Garamond';
  line-height: 1.4em;
  margin-bottom: 2.2em;
}


/* Don't put extra spaces at the end of nested lists */
li > ul, li > ol {
  margin-bottom: 0;
}

code {
  font-family: 'Courier';
  display: block;
  white-space: pre-wrap;
  padding-left: 2em;
  margin-bottom: 2.2em;
}

a.btn {
  font-size: 1.2em;
  text-decoration: none;
  background-color: #a9a9a9;
  border: 1px solid #a9a9a9;
  padding: 7px 15px;
  transition: background-color .5s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #888888;
}

a.btn:hover {
  background-color: rgba(0,0,0,0.3);
}

section {
  padding: 0;
  margin: 0;
}

aside {
  padding: 0;
  margin: 0;
}

