@import url(general.css);

header {
  height: 430px;
  position: relative;
  background: url(../images/banner.png) no-repeat center bottom;
}

header div.hero {
  position: absolute;
  width: 50%;
  top: 80px;
  left: 40%;
}

header div.hero h1 {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size: 5em;
  margin-top: .3em;
  margin-bottom: 0em;
}

header div.hero h2 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5em;
}

section.main {
  margin-top: 40px;
  margin-bottom: 30px;
  padding-bottom: 4em;
  /* Can't get the blue fill entire horizontal space with width=100% :/ */
  width: 101.75%;
  background-color: #87ceeb;
  position: relative;
  left: -1%;
}

section.main aside {
  width: 33%;
  float: left;
  text-align: center;
  display: table-cell;
}

section.main .content {
  margin: 30px;
  height: 100%;
  position: relative;
  text-align: center;
}

section.main .content p {
  text-align: left;
}

section.main .content .btn {
  position: absolute;
  bottom: 0;
}

/* this is better than using table and table-cell displays to get same-height
columns. But Safari does not support flex, so we have to make this check.*/
@supports (display: flex) {
  section.main {
    display: flex;
  }

  section.main aside {
    flex: 1;
  }
}

@supports not(display: flex) {
  section.main {
    display: table;
  }

  section.main aside {
    display: table-cell;
  }
}

