@import url(general.css);
@import url(gridlayout.css);

h3 {
  font-size: 2em;
  margin: 10px;
}

nav ul li.projects::before {
  content: '\25b6';
  color: #ffd700;
  position: relative;
  left: 20px;
  top: -2px;
}

nav ul li.projects a {
  width: 60%;
}

