@import url("general.css");
@import url("nav.css");
@import url("gridlayout.css");

h3 {
  font-size: 2em;
  margin: 10px;
}

nav ul li.projects {
  background-color: #808080;
}

nav ul li.projects a {
  color: gold;
}

nav ul li.projects a {
  width: 60%;
}

