@import url("general.css");
@import url("nav.css");
@import url("gridlayout.css");

/* https://stackoverflow.com/questions/29730294/increase-a-div-size-on-click-with-css-alone */
/* https://codepen.io/guynaldo007/pen/gcybi */

h3 {
  font-size: 2em;
  margin: 10px;
}

nav ul li.skills::before {
  content: '\25b6';
  color: #ffd700;
  position: relative;
  left: 20px;
  top: -2px;
}

nav ul li.skills a {
  width: 60%;
}

