body {
	background: url(../images/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.faded {
	opacity: 0.25;
}

.page-centered-content {
	position: fixed;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.centered-content{
	text-align: center;
}

h1 {
	font-family: Arial, Verdana;
}

.projects-button {
	margin: 5px;
	white-space: normal;
	height: 192px;
	width: 192px;
}

.projects-image {
	height: 128px;
	width: 128px;
}

.projects-description {
	font-family: Times New Roman, Georgia;
	font-size: 20px;
}
