body {
	background: url(../images/background-cool.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 5px;
}

h1 {
        font-weight: bolder;
}

h2 {
        font-weight: bold;
}

h3 {
        font-style: italic;
}

h4 {
}

code {
        white-space: nowrap;
}

#pnl_about_content {
        padding: 50px;
}

p, ul, ol, dl {
        font-size: 13pt;
}

p + p {
    margin-top: 20px;
}

.fixed-close-button {
	position: fixed;
	z-index: 999999;
	right: 5%;
}

.fixed-home-button {
        position: fixed;
        z-index: 999999;
        top: 2%;
        font-size: 24px;
}

.full-page {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.page-centered-content {
	position: fixed;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.centered-text {
	text-align: center;
}

.exit-button {
	top: 0px;
	right: 0px;
}

.list-grid-button {
	margin: 5px;
	white-space: normal;
	height: 192px;
	width: 192px;
        position: relative;
}

.list-grid-image-container {
        height: 130px;
        width: 130px;
        overflow: hidden;
}

.list-grid-image {
        max-width: 128px;
        max-height: 128px;
        background-size: cover;
        margin-top: -40px;
}

.list-grid-description {
	font-family: Times New Roman, Georgia;
	font-size: 20px;
        position: absolute;
        bottom: 3%;
        width: 100%;
        left: 0%;
}

.description-panel {
	position: absolute;
	top: 0px;
	left: 32px;
	padding-bottom: 50px;
}

.bottom-row {
        padding-bottom: 25px;
}

