body {
	background: url(../images/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 5px;
}

#pnl_projects_description {
	position: absolute;
	top 0px;
	left 0px;
}

.fixed-close-button {
	position: fixed;
	z-index: 999999;
	right: 5%;
}

.full-page {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.page-centered-content {
	position: fixed;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.centered-text {
	text-align: center;
}

.exit-button {
	top: 0px;
	right: 0px;
}

.list-grid-button {
	margin: 5px;
	white-space: normal;
	height: 192px;
	width: 192px;
}

.list-grid-image {
	height: 128px;
	width: 128px;
}

.list-grid-description {
	font-family: Times New Roman, Georgia;
	font-size: 20px;
}

.description-panel {
	padding-bottom: 50px;
}
