<!DOCTYPE HTML>
<meta charset="UTF-8">
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113887707-1"></script>
    <script src="js/analytics.js"></script>

    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{TITLE}}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/blog/overview.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/hft-blog/overview.css">
    <script src="js/nav.js"></script>
  </head>
  <body>
    {{NAV}}

    <div class="all">
      <section class="intro">
        <h1>The High Frequency Trading Industry</h1> 
        <p>
        TODO, introduce this blog
        </p>
      </section>

      <section class="main">
        {{SUMMARIES}}
      </section>
    </div>
  </body>
</html>
