<!DOCTYPE HTML>
<meta charset="UTF-8">
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113887707-1"></script>
    <script src="js/analytics.js"></script>

    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{TITLE}}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/blog/overview.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/hft-blog/overview.css">
    <script src="js/nav.js"></script>
  </head>
  <body>
    {{NAV}}

    <div class="all">
      <section class="intro">
        <h1>The High Frequency Trading Industry</h1> 
        <p>
High Frequency Trading, or HFT, is not a well-publicized industry. Most HFT firms are small and don’t feel a need to go out of their way and explain the industry to the entire world. You may have heard a few snippets here and there, but by and far, I see a lot of misunderstanding in the content out there. This goal of this blog is to introduce HFT to a general audience and then provide advice to technical people who may be interested in careers in the HFT industry.
        </p>
      </section>

      <section class="main">
        {{SUMMARIES}}
      </section>
    </div>
  </body>
</html>
