@import url("/css/general.css");
@import url("/css/content-generator/default-content-layout.css");
@import url("/css/blog/nav.css");
@import url("/css/blog/content-related-summary.css");

section.main .content h2 {
  padding-top: 0.5em;
  margin-bottom: -0.3em;
}

section.main .content h3 {
  padding-top: 0.5em;
  margin-bottom: -0.3em;
  font-style: italic;
}

section.main {
  position: absolute;
  top: 75px;
}

section.main .content {
  max-width: 900px;
  margin: auto;
}

