nav {
  background-color: #C0C0C0;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 64px;
  position: fixed;
  z-index: 9998;
}

nav a.expand-toc {
  display: inline-block;
}

nav > ul {
  list-style: none;
  margin: 0;
  padding: 10px 0 0 0;
  font-family: 'Raleway', sans-serif;
  position: absolute;
}

nav > ul > li {
  float: left;
  padding: 0 10px;
  height: 48px;
}

nav ul li:hover {
  background-color: #808080;
}

nav > ul > li > a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  position: relative;
  padding: 10px 5px 0 5px;
}

nav a.home {
  display: inline-block;
  width: 32px;
  height: 32px;
  position: relative;
  top: 5px;
  left: -1px;
  padding: 0;
  background: url(/images/home.png) no-repeat 0 0;
  background-position: center center;
}

i.arrow {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

nav i.arrow {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

nav.toc-shown i.arrow {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

nav div.toc {
	display: none;
}

nav.toc-shown div.toc {
  display: block;
  position: relative;
  top: 64px;
  background-color: #B8B8B8;
  overflow-y: auto;
  z-index: 9997;
}

nav div.blog-nav-category {
	display: inline-block;
  padding: 0 1em;
  vertical-align: top;
  padding-bottom: 3em;
	text-align: left;
}

nav div.blog-nav-category h3 {
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 0.2em;
  margin-left: 0;
  margin-right: 0;
}

nav div.blog-nav-category div.blog-nav-article:hover {
  background-color: #808080;
}

nav div.blog-nav-category div.blog-nav-article a.blog-nav-article-link {
  display: inline-block;
  position: relative;
  padding: 10px 20px 0 10px;
  font-family: 'Raleway', sans-serif;
}

