@import url("/css/general.css");
@import url("/css/nav.css");
@import url("/css/content-generator/default-overview-gridlayout.css");
@import url("/css/content-generator/default-summary-layout.css");

div.all {
  position: absolute;
  top: 75px;
}

section.intro {
  margin-bottom: 3em;
}

section.intro h1 {
  text-align: center;
}

section.intro p {
  max-width: 800px;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;
}

section.main aside.summary div.summary-content h1.summary-title {
  font-size: 1.6em;
}

@media screen and (max-width: 700px) {
  section.main aside.summary {
    max-width: 400px;
  }
}

