<!DOCTYPE HTML>
<meta charset="UTF-8">
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113887707-1"></script>
    <script src="/js/analytics.js"></script>

    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/skills.css">
    <script src="/js/nav.js"></script>
  </head>
  <body>
    {{NAV}}
    <h1>{{title}}</h1>
    <img src="/{{ROOT_DIR}}/{{TOPIC_DIR}}/{{CONTENT_DIR}}/header.png"></img>
    <section class="blogpost">
      {{CONTENT}}
    </section>
  </body>
</html>
