<!DOCTYPE HTML>
<meta charset="UTF-8">
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113887707-1"></script>
    <script src="../js/analytics.js"></script>

    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/blog-post.css">

    <script src="https://www.w3schools.com/lib/w3.js"></script>
  </script> 
  </head>
  <body>
    <div w3-include-html="nav.html"></div>
    <header>
      <h1>{{title}}</h1>
      <h2>{{date}}</h2>
      <img src="{{BLOGDIR}}/header.png"></img>
    </header>
    <section class="blogpost">
      {{BLOGPOST}}

      <section class="related posts">
        {{RELATED}}
      </section>
    </section>
  </body>
  <script>
    w3.includeHTML();
  </script>
</html
