<aside class="summary">
  <a class="summary-link" href="{{BLOGDIR}}.html">
    <span></span>
  </a>
  <div class="summary-image">
    <img src="{{BLOGDIR}}/header.png"></img> 
  </div>
  <div class="summary-content">
    <h1 class="summary-title">
      {{title}}
    </h1>
    <p class="summary-content">
      {{summary}}
    </p>
  </div>
</aside>
