<!DOCTYPE HTML>
<meta charset="UTF-8">
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113887707-1"></script>
    <script src="js/analytics.js"></script>

    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{TITLE}}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/blog/overview.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/college-cs-blog/overview.css">
    <script src="js/nav.js"></script>
  </head>
  <body>
    {{NAV}}

    <div class="all">
      <section class="intro">
        <h1>College Computer Science Tips</h1> 
        <p>
        Thinking about studying computer science in college? Or maybe you’ve already committed to it? This blog discusses ways to perform well in your computer science classes. In addition, we’ll explore ways to effectively pitch your abilities to companies and get valuable internship experiences and competitive full-time offers. Studying computer science leads to a lot of opportunities and when you succeed in the major, you unlock even more!
        </p>
      </section>

      <section class="subscribe">
        <p>
        Join on substack to post comments and get new posts delivered to your inbox:
        </p>
<iframe class="substack" src="https://collegecs.substack.com/embed" width="400" height="200" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
      </section>

      <section class="main">
        {{SUMMARIES}}
      </section>
    </div>
  </body>
</html>
