<script src="/js/blog-nav.js"></script>
<nav>
   <ul>
    <li>
     <a class="home" title="Home" href="/blog.html">
      </a>
    </li>
    <li>
      <a href="about-this-blog.html" title="About this Blog" class="post-link">
        About
      </a>
    </li>
    <li>
      <a href="#" class="expand-toc" title="Table of Contents"
        onclick="ToggleShowTOC(event)">
        More <i class="arrow down"></i> 
      </a>
    </li>
  </ul>
  <div class="toc"> 
    {{CATEGORIES}}
  </div>
</nav>
