<!DOCTYPE HTML>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113887707-1"></script>
    <script src="js/analytics.js"></script>

    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mickey Chao</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/index.css">

  </head>
  <body>
    <div id="page">
      {{NAV}}
      <header>
        <img class="hero-img" src="images/banner.png"></img>
        <div class="hero">
          <h1>Mickey Chao</h1>
          <h2>Intelligent Software Engineering</h2>
        </div>
      </header>

      <section class="main">
        <aside>
          <div class="content">
            <h3>About Me</h3>
            <p>Hi, I'm Mickey. I started coding around ten years ago.
                I enjoy programming because it resembles solving puzzles.
                I love thinking about different ways to approach a problem and
                I get immense satisfaction when I create solutions that
                work.</p>
              
            <a class="btn" title="Learn More" href="about.html#">Learn More</a>

            <!--
            <p>I received my bachelors in Computer Science Engineering from
                the University of Michigan, Ann Arbor in April 2017. 
                My work experience includes internships at Jump Trading, Google, 
                and ProQuest. Currently, I work full-time as a software engineer 
                at Jump Trading in Chicago, IL. The work is fun and challenging, 
                and my coworkers are fantastic.</p>-->
          </div>
        </aside>
        <aside>
          <div class="content">
            <h3>Skills</h3>
            <p>I have strong algorithmic thinking 
                abilities and experience designing systems. 
                Furthermore, I'm an excellent communicator and know how to 
                document and present my work concisely. I 
                also offer a lot more beyond these core skills!</p>

              <a class="btn" title="Learn more" href="skills.html">Learn More</a>
          </div>
        </aside>
        <aside>
          <div class="content">
            <h3>Projects</h3>
            <p>I gain plenty of practical experience from projects. By devoting
              significant time and energy to writing software that interests
              me, I get to hone my skills and have plenty of fun. Want to see
              what I've been up to in my spare time?</p>

            <a class="btn" title="Learn more" href="projects.html">Learn More</a>
          </div>
        </aside>
      </section>
      <footer>
        &copy; Mickey Chao
      </footer>
    </div>
  </body>
  <script>
    w3.includeHTML();
  </script>
</html>
