<!DOCTYPE HTML>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113887707-1"></script>
    <script src="../js/analytics.js"></script>

    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mickey Chao - Skills</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/skills.css">

  </head>
  <body>
    {{NAV}}
    <header>
      <h1>{{title}}</h1>
      <img src="{{header}}"></img>
    </header>
    <section class="content">
      {{CONTENT}}
    </section>
  </body>
</html>
